# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
.pytest_cache/
.coverage
htmlcov/

# Virtual environment
.venv/
env/
venv/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env
